<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <a href="/v1/posts/<%= comment.post %>/comments">back</a>
  <form action="/v1/posts/<%= comment.post %>/comments/<%= comment._id %>?_method=put" method="POST">
    <label for="comment[description]">Name:
      <input type="text" name="comment[description]" value="<%= comment.description %>">
    </label>
    
    <% errors && errors.forEach(({message})=> { %>
    <%= message %>
    <% }) %>

    <input type="submit" name="submit" value="Update">
  </form>

</body>
</html>
