<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <title>comments</title>
</head>

<body>
    <a href="/v1/posts">back</a>
    <h1>comments</h1>
    <p>Click a comment below to view their comments.</p>
    <ul>
        <% comments.forEach(({ _id, description, post}) => {  %>
        <li>
            <form action="/v1/posts/<%= post %>/comments/<%= _id %>?_method=delete" method="POST">
                <a href="/v1/posts/<%= post %>/comments/<%= _id %>"><%= description %></a> - <input type="submit" value="del" />
            </form>
        </li>
        <% }) %>
    </ul>
    <a href="comments/new">new</a>

    <%- include('../footer') %>

</body>

</html>