<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/style.css">
  <title>Edit <%= post.title %></title>
</head>
<body>
  <a href="/v1/posts">back</a>
  <h1><%= post.title %></h1>
  <form action="/v1/posts/<%= post._id %>?_method=put" method="POST">
    <label for="post[title]">Name:
      <input type="text" name="post[title]" value="<%= post.title %>">
    </label>
    <label for="post[description]">Name:
      <input type="text" name="post[description]" value="<%= post.description %>">
    </label>
    <% errors && errors.forEach(({message}) => {  %>
      <p><%= message %></p>
    <% }) %>

    <input type="submit" name="submit" value="Update">
  </form>



</body>
</html>
